In [67]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [2]:
df = pd.read_csv('F:\jupyter notbook\MachineLearning-master\MachineLearning-master\Datasets\Salary_Data.csv')

In [3]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [4]:
df.dtypes

YearsExperience    float64
Salary             float64
dtype: object

In [6]:
df = df.astype('int')

In [33]:
x = df.loc[:,['YearsExperience']].values
y = df.loc[:,['Salary']].values

In [34]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [35]:
print(x_train.shape)
print(x_test.shape)

(24, 1)
(6, 1)

### Making our own Simple Linear Regression class

In [62]:
class SimpleLR:
    
    def __init__(self):
        
        self.m =None
        self.b = None
        
    def fit(self,x_train,y_train):
        
        num = 0
        den = 0
        
        for i in range(x_train.shape[0]):
            
            num = num + ((x_train[i] - x_train.mean())*(y_train[i] - y_train.mean()))
            den = den + ((x_train[i] - x_train.mean())*(x_train[i] - x_train.mean()))
            
        self.m = num/den
        self.b = y_train.mean() - (self.m*x_train.mean())
    
    def predict(self,x_test):
        
#         print((self.m*x_test) + self.b)
        return (self.m*x_test) + self.b

In [46]:
x_train.shape[0]

24

In [63]:
lr = SimpleLR()

In [64]:
lr.fit(x_train, y_train)

In [66]:
y_pred = lr.predict(x_test)

In [68]:
r2_score(y_test,y_pred)

0.9752567478409196

### Sklearn LinearRegression Class

In [50]:
model = LinearRegression()

In [51]:
model.fit(x_train,y_train)

LinearRegression()

In [69]:
y_pred1 = model.predict(x_test)

In [56]:
r2_score(y)